<!DOCTYPE html>
<html>
<head>
	<title>Welcome To My Blog</title>
</head>
<body>

<!-- site header-->
<h1>Hi. Im Katherine.</h1>

<!-- picture goes here -->
<img src="http://pic.baike.soso.com/p/20140607/20140607142846-1150928573.jpg">
<!-- Blog post-->
<h2>My first blog post</h2>
<p>Here is my first blog post. One day at the mall....</p>

<!-- Like And Comment -->
<button>Like</button>
<h2>Leave a  comment</h2>
<form action="{% url 'blog:home_page' %}" method="POST">
 {% csrf_token %}
 <input type="text" placeholder="Please Enter Your username" name="username"><br><br>
 <textarea name="comment" placeholder="Please Enter Your Comment"></textarea><br>
 <input type="submit" value="Post Me!">
 </form>

<h2>Comments</h2>
 User {{username}} says: {{comment}}
</body>
</html>